/*gris oscuro = #1da52c*/
/*gris claro = # 626262*/
/*background gris = #1b2127*/
/*celeste = #026fff*/


body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    
}
    
h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.2px;
    /*text-transform: uppercase;*//*hace que todo el texto este en mayúscula */
    text-decoration: none;
     
    margin: 0;
} 


.hero{
    display: flex;
    align-items: center ;
    justify-content:space-between;
    margin: 0; 
    height: 390px;
    padding-left: 25px;
    color: white;
    background-color: #1d252c ;
    box-shadow: 0 5px 10px #0e1011 inset;
  background-image: url("../img/hero.jpg"); 
  background-size: 700px 390px;
  background-repeat: no-repeat;
  background-position-x: right;
  
}

.imghero1{
    height: inherit;
 }

.imghero{
   object-fit: cover;
   height: inherit;
}

.hero h1{
    font-size: 51px;
    line-height: 150%;
    letter-spacing: 1px;
    font-weight: lighter;
    margin: 0;
}


h1 strong{
    color: #026fff;
    font-weight: lighter;
}

ol{
    margin: 0;
}


.container-decoration-title{
    display: flex;
    height:150px;
    align-items: center;
    margin: 0;
    padding:0;
    background-color: transparent;
    background-color: #fafafa;
    border-left: 25px solid #026fff;
}

.decoration-title{
    height: 45px;
    width: 35px;
    border: 2px solid #026fff;
    background-color: #026fff;
    border-Top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 35px;
}

h2{
    color:#026fff; 
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    /*font-weight: bold;/*para qeu el testo este en negrita*/ 
    font-weight: 1000;
    font-size: 31px;
    letter-spacing: 0.2px;
}

.container-portafolio{
    background-color: #fafafa;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    border-left: 25px solid #026fff;
}


.container{
  /*  border: 1px solid red;*/
    width: 1325px;
    margin: 0 auto;
    display: inherit;
    /*justify-content: space-evenly;*/
    justify-content: space-between;
    align-items: inherit;
    height: inherit;
    flex-wrap:inherit; 

 }

.portfolio{

}
.project{

    display:flex;
    margin-bottom: 30px;
    padding-left: 25px;
    background-color: white;
    box-shadow: 0 0 6px #ced6da;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    weight: inherit;
    /*border-top: tamaño tipo estilo;*/
    /*border-color:gray;
    border-style: solid;
    border-width: 1px;*/
    /* padding: 20px; */
     /*margin: 10px;*/

}
.project-title{
    font-size:42px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #1d252c;
    letter-spacing: 0px;
    font-weight: 200;
}

.project-course{
    color: #737373;
    margin: 10px 0;
    letter-spacing: 0px;
    font-size: 21px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.project-date{
    color: #737373;
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: 21px;
    font-weight: 600;
}
.project-date strong{
    font-size:21px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #1d252c;
    letter-spacing: 0px;
    font-weight: lighter;
}

.project-url{
    color: #737373;
    margin: 10px 0;
    letter-spacing: 0px;
    font-size: 21px;
    font-weight: 600;
}
.project-url strong{
    font-size:21px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #1d252c;
    letter-spacing: 0px;
    font-weight: lighter;
}

.project-description{
    font-size:23px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #1d252c;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 35px;
}


.project-details{
    width: 550px;
    height: inherit;
    margin: 10px;
}

.img-project-details{
    height:510px;
    object-fit:cover;
}

.container-img-project-details{
    overflow:hidden;
}



.project strong{
    font-family: 'Fjalla One', sans-serif;    
}
  
.header{
    background-color: #1d252c;
    color: white;
    display: flex;
    height: 100px;
    justify-content:space-between;
    align-items: center;
}

.header a {
    display:flex;
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;/*para qeu el testo este en negrita*/ 
    letter-spacing: 0.8px;
    font-size: 25px;
    height:inherit;
    margin:20px;
    padding: 10px 10px;
    align-items: center;

}

#link-contact{
    padding: 10px 35px;
    border: 1.5px solid white;
    border-radius: 5px;
    height: 30px
}
.header img{
    margin: 5px 10px;
}

ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu{
    height: inherit;
}
.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit; 
    display: flex;
    align-items: center;
}

figure{
    margin: 0;
}

.flexbox{
    height: 250px;
    display: flex;
    flex-direction:row; 
    /*indica la dirección en que quiero que se presenten los
    elementos en columna o en fila*/  

    /*flex-wrap: nowrap;*/
    flex-wrap: wrap; /*Cuando los elementos superan la cantidad 
    de espacios ocupado en su eje X o fila pasa a la parte de
    abajo a la siguiente columna*/


    /*ALINEACIÓN DE ELEMENTOS DE FORMA HORIZONTAL*/
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    justify-content: center;
    /*justify-content: space-around;*/
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;*/

    /*ALINEACIÓN DE ELEMENTOS DE FORMA HORIZONTAL*/
    align-items: center;
    /*align-items: flex-start;*/
    /*align-items: flex-end;*/

    /*NOTA: Cuando la propiedad flex-direction 
    se ha definido como culumn, la propiedad
    justify-content ya no va a aplicar sobre la 
    alineación horizontal, sino sobre la vertical y 
    aling-items ya no aplicara sobre la alineación 
    vertical sino la horizontal, se intercambian sus efectos. 
    */
} 

/*
.box{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    margin: 5px;
    flex-shrink: 0;
    
    ##par que conserve su tamaño asignado que son 50*50 px
}

#caja1{
    align-self:flex-start
    
    ##para modificar la posición de los hijos
}

#caja3{
    align-self: flex-end;
}
*/


.experiencia-list{
    display: flex; 
    flex-wrap: wrap;
}

.event-list-title{
    margin-left: 20px;
}

.event{
    margin-bottom: 30px;
    width: 605px;
    height:650px;
    flex-shrink:0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4fbff;
    box-shadow: 0 0 6px #ced6da;
}

.event img{
    width: 650px;
    height: 325px;
    object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -70px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center; 
    height: 320px;
}

.event-title{
    font-size:30px;
    margin-top: 10;
    margin-bottom: 30px;
    color: #1d252c;
    letter-spacing: 1px;
    font-weight: lighter;
}

.event-description{
    text-align: left;
    color: #737373;
    margin: 10px 0;
    margin-bottom: 35px;
    line-height: 35px;
    letter-spacing: 0.5px;
    font-size: 23px;
    font-weight: 600;
}

.event-url{
    color:#056fff;
    border: 1px solid;
    padding: 10px 90px;
    text-decoration: none; 
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}


.container-decoration-contact{
    display: flex;
    height: 100px;
    align-items: end;
    margin: 0;
    padding:0;
    background-color: #056fff;
    border-left: 25px solid white;
}


.decoration-contact{
    height: 45px;
    width: 35px;
    border: 2px solid white;
    background-color: white;
    border-Top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 35px;
}

.container-decoration-contact h2 {
    color:white; 
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;/*para qeu el testo este en negrita*/ 
    font-size: 32px;
    letter-spacing: 0px;
    margin: 0;
}

.contact{
    background-color: #056fff;
    color:white;
    height: 180px;
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    padding: 0 100px;
    padding-top: 20px;
}


.social-link{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 30px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-link.twitter{
    background-image:url("../img/twitter.svg");
}

.social-link.facebook{
    background-image:url("../img/facebook.svg");
}

.social-link.github{
    background-image:url("../img/github.svg");
}

.social-link.instagram{
    background-image:url("../img/instagram.svg");
}

.form-email input{
    width: 340px;
    height: 35px;
    border-color:#9b9797;
    padding: 10px 10px 10px 50px;
    border-radius: 8px;
    border-style: solid;
    background-image: url("../img/envelope.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 15px;
    font-size: 22px;
    font-weight: 500;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color:white;
    padding: 10px 0; 
    border-radius: 8px;
    width:200px;
    height: 55px;
    /*margin: 10px auto 0;*/
    margin-top: 15px; 
    border-color: white;
    font-size: 23px;
    font-weight: 500; 
    letter-spacing: 1px;
}

button:hover{
    opacity: 0.6;
    text-decoration:dashed;
    border-color: rgb(52, 11, 201);
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
   
}

.footer{
    background-color: #1d252c;
    color:white;
    display: flex;
    align-items: center ; 
    justify-content: space-between;
   /* height: 100px;*/
}

.footer img{
    vertical-align: middle; /*para alinear el texto centrado junto con la imagen*/
}

.footer a{
    color: white;
}

.footer Strong {

    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: bold;

}

#punto {
    font-size: 70px;
    margin: 0 10px;
    padding-bottom: 28px;
    height: 100px;
}

.TextoCurso{
    display: flex;
    align-items: center;
}