/*gris oscuro = #1da52c*/
/*gris claro = # 626262*/
/*background gris = #1b2127*/
/*celeste = #026fff*/


body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    
}
    
h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.2px;
    /*text-transform: uppercase;*//*hace que todo el texto este en mayúscula */
    text-decoration: none;
     
    margin: 0;
} 


h1 strong{
    color: #026fff;
}

h2{
    color:#026fff; 
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;/*para qeu el testo este en negrita*/ 
    font-size: 24px;
    margin-bottom: 40px;
}

.hero{
    display: flex;
    margin: 0; 
    align-items: center ;
    justify-content:space-between;
    height: 300px;
  /*background-image: url("/img/hero.jpg");*/ background-color: #1b2127 ;
  /*background-size: 500px 300px;*/
  /*background-repeat: no-repeat;*/
  /*background-position-x: right;*/
    color: white;
}

.imghero{
    object-fit: cover;
}
ol{
    margin: 0;
}

.container-portafolio{
    background-color: #fafafa;
    padding: 50px;
    border-left: 40px solid #026fff;
}

.portfolio{

}



.project{

    display:flex;

    /*border-top: tamaño tipo estilo;*/
    background-color: white;
    border-color:gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    /*margin: 10px;*/
    margin-bottom: 15px;
    padding: 20px; 
    align-items: center;
    justify-content: space-between;
}
.project-title{
    font-size:30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-course{
    margin: 10px 0;
}

.project-date{
    margin: 10px 0;
}

.project-url{
    margin: 10px 0;
}

.project-details{
    width: 500px;
    height: 200px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;    
}
  
.header{
    background-color: #1d252c;
    color: white;
    display: flex;
    height: 100px;
    justify-content:space-between;
    align-items: center;
}

.header a {
    display:flex;
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;/*para qeu el testo este en negrita*/ 
    letter-spacing: 1px;
    font-size: 25px;
    height:inherit;
    margin:20px;
    padding: 10px 10px;
    align-items: center;

}

#link-contact{
    padding: 10px 35px;
    border: 1.5px solid white;
    border-radius: 5px;
    height: 30px
}
.header img{
    margin: 5px 10px;
}

ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu{
    height: inherit;
}
.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit; 
    display: flex;
    align-items: center;
}

figure{
    margin: 0;
}

.flexbox{
    height: 250px;
    display: flex;
    flex-direction:row; 
    /*indica la dirección en que quiero que se presenten los
    elementos en columna o en fila*/  

    /*flex-wrap: nowrap;*/
    flex-wrap: wrap; /*Cuando los elementos superan la cantidad 
    de espacios ocupado en su eje X o fila pasa a la parte de
    abajo a la siguiente columna*/


    /*ALINEACIÓN DE ELEMENTOS DE FORMA HORIZONTAL*/
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    justify-content: center;
    /*justify-content: space-around;*/
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;*/

    /*ALINEACIÓN DE ELEMENTOS DE FORMA HORIZONTAL*/
    align-items: center;
    /*align-items: flex-start;*/
    /*align-items: flex-end;*/

    /*NOTA: Cuando la propiedad flex-direction 
    se ha definido como culumn, la propiedad
    justify-content ya no va a aplicar sobre la 
    alineación horizontal, sino sobre la vertical y 
    aling-items ya no aplicara sobre la alineación 
    vertical sino la horizontal, se intercambian sus efectos. 
    */
} 

/*
.box{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    margin: 5px;
    flex-shrink: 0;
    
    ##par que conserve su tamaño asignado que son 50*50 px
}

#caja1{
    align-self:flex-start
    
    ##para modificar la posición de los hijos
}

#caja3{
    align-self: flex-end;
}
*/

.footer{
    background-color: #1b2127;
    color:white;
    display: flex;
    align-items: center ; 
    justify-content: space-between;
}

.footer img{
    vertical-align: middle; /*para alinear el texto centrado junto con la imagen*/
}

.footer a{
    color: white;
}

.experiencia-list{
    display: flex; 
    flex-wrap: wrap;
}

.event-list-title{
    margin-left: 20px;
}

.event{
    margin: 10px;
    width: 480px;
    flex-shrink:0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4fbff;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center 
}

.event-description{
    text-align: left;
}

.event-url{
    color:#056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none; 
    border-radius: 5px;
}


.contact{
    background-color: #056fff;
    color:white;
    height: 200px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}


.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter{
    background-image:url("/img/twitter.svg");
}

.social-link.facebook{
    background-image:url("/img/facebook.svg");
}

.social-link.github{
    background-image:url("/img/github.svg");
}

.social-link.instagram{
    background-image:url("/img/instagram.svg");
}

.form-email input{
    border-color: rgb(214, 230, 229);
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    border-style: solid;
    background-image: url("/img/envelope.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x: 5px;;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color:white;
    padding: 10px 0; 
    border-radius: 5px;
    width:100px;
    /*margin: 10px auto 0;*/
    margin-top: 10px; 
    border-color: white;
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
   
}

.container{
    border: 1px solid red;
    width: 1325px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap:inherit; 

 }

